@tailwind base;
@tailwind components;
@tailwind utilities;

html{
overscroll-y: hidden;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x:hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.white {
  background-color: white;
  border: solid 1px;
  border-radius: 50px;
  padding: 10px;
  color: black;
}

.red {
  background-color: red;
  color: white;
  border: solid 1px;
  border-radius: 50px;
}